@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Nuevos cambios aqui</p>
<ul>
    <li>Nueva feature 1</li>
    <li>Nueva feature 2</li>
    <li>Nueva feature 3</li> 
</ul>

